<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Caught short</name>

  <description>
      A short (and silly) text game about being caught short, for the purpose of testing the Twine engine with Bootstrap.
  </description>

    <author href="http://daviddickball.uk/" email="david@ongoingworlds.com">
      David Ball
  </author>

</widget>